body {
  background: transparent;
}
.lyl {
  background: url(../images/background.png) center / contain no-repeat;
  padding: 150px 0 40px;
  width: 1260px;
  /*margin: auto;*/
}
.lyl .show {
  position: relative;
  max-width: 885px;
  cursor: pointer;
  margin: auto;
  width: 80%;
}
.lyl .show .top {
  height: 130px;
}
.select_equ {
  margin-top: 82px;
}
.select_equ dl dt{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.select_equ dl {
  line-height: 10%;
}
.select_equ dl dt div{
  flex: 1;
  text-align: center;
  position: relative;
}
.right{
  display: none;
  position:absolute ;
  right: 0;
  top: 0;
}

.err{
  display: none;
  position:absolute ;
  right: 0;
  top: 0;
}


/* .select_equ{
  width: 100%;
  height: 100%;
}
.lyl .show .top .drop {
  position: absolute;
  width: 131px;
  z-index: 9;
}
.lyl .show .top .drop:nth-child(1) {
  left: 0%;
  top: 0%;
}
.lyl .show .top .drop:nth-child(2) {
  left: 27%;
  top: 0%;
}
.lyl .show .top .drop:nth-child(3) {
  left: 53%;
  top: 0%;
}
.lyl .show .top .drop:nth-child(4) {
  left: 84%;
  top: 0%;
}
.lyl .show .top .tip {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 130%;
  -webkit-transform: translate(50%, -80%);
  -moz-transform: translate(50%, -80%);
  -ms-transform: translate(50%, -80%);
  -o-transform: translate(50%, -80%);
  transform: translate(50%, -80%);
}
.lyl .show .top .err,
.lyl .show .top .right {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(65%, -65%);
  -moz-transform: translate(65%, -65%);
  -ms-transform: translate(65%, -65%);
  -o-transform: translate(65%, -65%);
  transform: translate(65%, -65%);
}
.lyl .show .bottom {
  position: relative;
  margin-top: 30px;
}
.lyl .show .bottom a {
  position: absolute;
  width: 14.8%;
  height: 48%;
}
.lyl .show .bottom a img {
  pointer-events: none;
}
.lyl .show .bottom a#box1 {
  left: 2.8%;
  top: 0%;
}
.lyl .show .bottom a#box2 {
  left: 29.4%;
  top: 0%;
}
.lyl .show .bottom a#box3 {
  left: 55.8%;
  top: 0%;
}
.lyl .show .bottom a#box4 {
  left: 82.4%;
  top: 0%;
} */