@import '../css/index.css';

/* 靶子列表 */

#target-list {
    width: 100vw;
    height: 40vw;
    position: absolute;
    left: 0;
    top: 2vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

#target-list li {
    width: 12vw;
    height: 21vw;
    text-align: center;
    line-height: 14vw;
    background: url('./images/target.png') center no-repeat;
    background-size: 8.5vw auto;
}

#target-list li img {
    position: relative;
    top: -2vw;
    width: 3vw;
}

#target-list-click {
    width: 100%;
    height: 40vw;
    position: absolute;
    left: 0;
    top: 2vw;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#target-list-click li {
    width: 12vw;
    height: 21vw;
    cursor: pointer;
}


/* 靶子倒下 */

.target-fall {
    animation: targetFall 0.5s forwards;
    transform-origin: 0% 100%;
}

@keyframes targetFall {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}


/* 小鸡 */

#chick {
    width: 20vw;
    position: absolute;
    left: 50vw;
    bottom: 4vw;
}


/* 蛋 */

#egg {
    width: 5vw;
    position: absolute;
    bottom: 10vw;
    opacity: 0;
}

.egg-fly {
    opacity: 1 !important;
    animation: eggFly 0.5s forwards;
}

@keyframes eggFly {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20vw);
    }
}

.egg-fly-up {
    opacity: 1 !important;
    animation: eggFly-up 0.5s forwards;
}

@keyframes eggFly-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5vw);
    }
}


/* 石头 */

#stone {
    width: 15vw;
    height: 8vw;
    text-align: center;
    line-height: 10vw;
    position: absolute;
    right: 5vw;
    bottom: 3vw;
    background: url('./images/stone.png') center no-repeat;
    background-size: contain;
}

#stone img {
    height: 3vw;
    border: 1px solid red;
}

.bg-cover {
    position: absolute;
    left: 0;
    top: 0.4vw;
}