html, body, p, h1, h2 {
  margin: 0;
  padding: 0;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 主内容 */
.content {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.common_tit{font-family: Alibaba-PuHuiTi;font-size: 36px;font-weight: bold;letter-spacing: -0.7px;color: #ffffff;text-shadow: 2.5px 1.7px 0px #1b7afa;text-indent: 2em;margin-bottom: 20px;position: absolute;top: 10%;left: 10%;width: 80%;}

/* 选项列表 */

#check-list {
  width: 16%;
  justify-content: center;
  position: absolute;
  left: 57%;
  top: 28%;
  height: 49vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
}

.dn{
  width: 16%;
  justify-content: center;
  position: absolute;
  left: 77%;
  top: 28%;
  height: 49vh;
  z-index: 2;
  display: none;
}

.add_btn{width: 188px;height: 84px;background: url(images/6.png) center / contain no-repeat;font-size: 0;position: absolute;right: 8%;bottom: 8%;cursor: pointer;}

#check-list {
  width: 16%;
  justify-content: center;
  position: absolute;
  left: 57%;
  top: 28%;
  height: 49vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
}
#check-list li {
  width: 75%;
  height: 3.8vw;
  position: absolute;
  overflow: hidden;
  top: 0%;
  left: 20%;
  background:rgba(0, 0, 0, 0) ;
}

#check-list li:nth-child(1){
  top: 19.5%;
}

#check-list li:nth-child(2){
  top: 39%;
}

#check-list li:nth-child(3){
  top: 58.5%;
}

#check-list li:nth-child(4){
  top: 78%;
}


#check-list li div {
  width: 100%;
  height: 94%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
/* 移动后对应位置 */
#check-list li div {
  left: 0.2vw;
  top: 0.2vw;
}


/* 数字列表 */
#number-list {
  width: 56%;
  height: 29vw;
  display: flex;
  justify-content: center;
  margin: -36vw 0 0;

}
#number-list div {
  width: 12vw;
  height: 3.6vw;
  text-align: center;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 3;
  left: 40%;
}

.list-item1 {
  background-image: url('./images/3.png');
  background-size: cover;
}
.list-item2 {
  background-image: url('./images/1.png');
  background-size: cover;
  top: 47%;
}
.list-item3 {
  background-image: url('./images/4.png');
  background-size: cover;
  top: 57%;
}
.list-item4 {
  top: 67%;
  background-image: url('./images/2.png');
  background-size: cover;
}


#number-list div img {
  display: block;
}



#rule {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  background: url('images/start.png') center no-repeat;
  background-size: cover;
}
#rule img {
  width: 35vw;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.start-btn {
  width: 20vw;
  height: 14vw;
  background: url('images/start-btn.png') center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 5vw;
  right: 9vw;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.start-btn:hover {
  background: url('images/start-btn-hover.png') center no-repeat;
  background-size: cover;
}










